body{
  background-color: rgb(22, 22, 22);
  --sb-track-color: #202f2c;
  --sb-thumb-color: #339e23;
  --sb-size: 8px;
  font-family: mainfont;
  
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: mainfont;
  src: url(Font/static/OpenSans-Medium.ttf)
}

html{
  scroll-behavior: smooth;
}

.flex{
  justify-content: center;
  display: flex;

}

.hidden{
  display: none;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;

  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
    
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
  
}

.content-grid > .breakout {
  
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  width: 550px;
  margin: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-weight: bolder;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: rgb(20, 110, 14);
  color: white;
}


.topnav .icon {
  color: whitesmoke;
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 300 8px 16px 300 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  
  float: none;
  background-color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.custom_a{
 margin-left: 460px;
 border-radius: 0 10px 10px 0;

 position: absolute;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #bababa;
  color: rgb(12, 120, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 580px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav{
      width: 100%;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .custom_a{
      margin-left: 0;
      position: relative;

     }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a {
      border-radius: 0 0 0 0;

    }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}





.topheader_flex{
  display: flex;
  margin-top: 9px;
 justify-content: end;
}

.topheader{
display: flex;
  width: 100%;
  height: 50px;
  background-color: rgb(31, 31, 35);
  margin-bottom: 25px;
}

.topheader_profile{
  width: auto;
  padding-inline: 15px;
  height: 25px;
  margin-inline: 15px;
  border-radius: 3px;
  background-color: rgb(43, 42, 42);
  border: 2px solid rgb(43, 42, 42);
  color: rgb(255, 255, 255);
  text-align: center;
}

.topheader_balance{
  width: 125px;
  height: 25px;
  background-color: rgb(43, 42, 42);
  border: 2px solid rgb(43, 42, 42);
  margin-inline: 5px;
  border-radius: 3px;
  color: white;
  text-align: center;
}
.topheader_balance_text{
  margin-top: 0px;
  margin-inline: 8px;
  font-weight: bolder;
  font-size: 17px;
}


.topheader_deposit{
  width: 100px;
  border: none;
  box-shadow: 300 300 5px 1px   rgb(61, 60, 60);;
  margin-inline: 15px;
  font-weight: bolder;
  background-color: rgb(28, 130, 20);
  cursor: pointer;
  color: white;
  height: 27px;
  border-radius: 3px;
  text-align: center;
}


.topheader_icon{
  width: 18px;
}

.topheader_username{
  margin-top: 0px;
  margin-inline: 8px;
  font-weight: bolder;
  font-size: 17px;
}

.first_Text_div{
  margin-top: 25px;
}

.topheader_responsinve{

}

@media screen and (max-width: 500px) {

  .topheader{
      height: 120px;
  }
  .topheader_profile{
      margin-inline: 15px;
      padding: 0;
      height: 50px;
      font-size: 10px;
      width: 80%;
      margin: 0;
      margin: auto;
  }
  .topheader_balance{   
      padding: 0;
      width: 80%;
      margin-inline: 15px;
  }
  .topheader_deposit{
      margin-inline: 15px;
      width: 150px;
  }


 .topheader_flex{
  display: grid;
justify-content: center;
width: 100%;
 }
}





.topheader_input{
  width: 150px;
  height: 20px;
  text-align: center;
  background-color: #333;
  border: 2px solid #363636;
  border-radius: 2px;
  color: whitesmoke;
  margin-inline: 10px;
  border: none;
}
.topheader_input:focus{
 border: none;
 outline: none;
 border: 1px solid rgb(74, 74, 74);
 color: rgb(206, 204, 204);
}
.topheader_input:hover{
  background-color: #3c3c3c;
}
.toheader_button_login{
  width: 60px;
  border-radius: 2px;
  border: 2px solid #363636;
  background-color: #333;
  border: none;
  color: white;
  height: 22px;
  cursor:pointer;
  text-align: center;
}
.toheader_button_login:hover{
  background-color: #3c3c3c;
}

@media screen and (max-width: 500px) {
.toheader_button_login{
  margin: auto;
  margin-top: 10px;
  width: 75px;
}
.topheader_input{
  margin-top: 10px;
  height: 20px;
}
}

.topheader_input:focus{
  padding: 0;
  outline: none;
  border: 1px solid #333;
}


.first_Text_div{
  margin: auto;
  margin-top: 50px;
  font-weight: bolder;
  font-size: 25px;
  background: #73FF11;
  background: linear-gradient(to right, #73FF11 0%, #16D67A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Sec_Text_div{
  margin: auto;
  text-align: center;
  margin-top: 50px;
  font-weight: bolder;
  font-size: 25px;
  background: #00eeff;
  background: linear-gradient(to right, #ffdd00 0%, #16D67A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Sec_Text_div:hover{

  background: linear-gradient(to right, #e0c617 0%, rgb(67, 155, 112) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.grid_box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  margin: auto;

}


.box2{
  cursor: pointer;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  
  margin-inline: 10px;
}

.box_image{
  width: 100%;
  height: 81%;
  

}

.box_info{
  border: 1px solid;
  width: 100%;
  margin-top: -25px;
  font-weight: bolder;
  height: 50px;
  background-color: rgb(38, 38, 38);
  border: none;
  text-decoration: none;
}

.box_mine_info{
  text-align: center;
  margin-top: 10  ;
  padding-top: 5px;
  color: rgb(149, 149, 149);
  text-decoration: underline;
  text-decoration-color: rgb(38, 38, 38);

}
.box_playicon{
 display: none;
  width: 100px;
  position: absolute;
 margin-left: 75px;
 text-decoration: none;
 margin-top: 50px;
}


.box2:hover{
  transition: 0.3s linear;
margin-top: 20px;

}
.box_mine_info:hover{
  transition: 0.3s linear;


}

.box_image:hover{
display: block;
transition: 0.2s ;
background-color: black;
opacity: 30%;
text-decoration: none;
}




@media screen and (max-width: 825px) {


  .grid_box{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2fr;
      grid-column-gap: 0px;
    
      margin: auto;

  }


}

@media screen and (max-width: 580px) {


  .grid_box{
      margin: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 3fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    

  }

}


@media screen and (max-width: 285px) {


.box2{

  width: 95%;

}
}
.noradious{
border-radius: 0px;
}

.box_end{
width: 100%;
height: 100px;
margin-top: 300px;
background-color: #252527;
}

.shadow__btn {

  border: none;
  color: #fff;
  border-radius: 7px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}
.shadow__btn {
  background: rgb(3, 193, 28);
  box-shadow: 0 0 9px rgb(3, 193, 28);
}
.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(3, 193, 28),
              0 0 10px rgb(3, 193, 28),
              0 0 25px rgb(3, 193, 28),
              0 0 350px rgb(3, 193, 28);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}





.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
    
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background: rgba(0,255,106,0.55);
  -webkit-backdrop-filter: blur(27px);
  backdrop-filter: blur(27px);
  border: 1px solid rgba(0,255,106,0.275);
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}




.moving_wrapper_pic{
  width: 75px;
  margin: auto;
}



.h3_text_1{
  text-align: center;
}

.third_Text_div{
  text-align: center;
  margin-top: 150px;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  background: #00eeff;
  background: linear-gradient(to right, #ffa703 0%, #31ef99 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_gradient{
  background: #00eeff;
  background: linear-gradient(to right, #03ff79 0%, #08b931 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.box_third_grid{
  margin-top: 75px;
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;

}

.box_third_grid_innergrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }


.box_third_inside{
  width: 350px;
  background-color: rgb(40, 40, 40);
  height: 300px;
  border: 2px solid rgb(0, 255, 153);
  border-radius: 10px;
  margin-inline: 75px;

}

.box_third_icon_box{
  background-color: rgb(34, 34, 34);
  opacity: 50%;
  width: 45px ;
  border-radius: 50%;
  margin: auto;
  height: 45px;
  margin-top: 20px;
}

.box_third_icon_svghanndeler{
  z-index: 10;
  width: 45px;
  margin: auto;
  height: 45px;
}

.box_third_inner_h2{
  color: rgb(181, 181, 181);
  margin-top:15px;
  text-align: center;
}


.box_third_inner_paragerafh{
  margin-top: 20px;
  padding-inline: 20px;
  text-align: center;
  color: rgb(189, 187, 187);
}


@media screen and (max-width: 985px) {

  .box_third_grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    grid-template-rows: repeat(2, 1fr);
    }
    .box_third_inside{
      width: 70%;
      height: 250px;
      margin: auto;
      margin-top: 20px;
    }


}

@media screen and (max-width: 557px) {

  .box_third_grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    grid-template-rows: repeat(2, 1fr);
    }
    .box_third_inside{
      width: 90%;
      height: auto;
      margin: auto;
      margin-top: 20px;
    }


}



.box_forth_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.forth_flex{
  display: flex;
}

.forthbox_1{

  width: 120%;
}
.forthbox_2{

  background-color: #323232;
  width: 75%;
  margin-top: 10px;
  height: 90%;
margin-left: 125px;
border-radius: 10px;
}

.wid{
  width: 450px;
}
.h3_forth{
  text-align: center;
  color: rgb(212, 212, 212);
}
.p_forth{
  text-align: center;
  padding-inline: 20px;
  color: rgb(173, 171, 171);
}
.p_main_forth{

  color: rgb(173, 171, 171);
}
.forth_h2_1{
  color: rgb(189, 189, 189);
}
.forth_h2_2{
  color: rgb(15, 172, 88);
}

.box_forth_icon_box{


  opacity: 80%;
  width: 45px ;
  border-radius: 50%;
  margin: auto;
  height: 45px;
  margin-top: 20px;

}

.box_forth{
  margin-top: 250px;
  width: 100%;
  height: 300px;
  background-color: rgb(36, 36, 36);
}

.btn_forth{
  height: 50px;
  width: 100px;
 border-radius: 30px;
 background-color: rgb(29, 224, 78);
 border: none;
 color: black;
 cursor: pointer;
 font-size: large;
}
.btn_forth2{
  height: 50px;
  width: 100px;
 border-radius: 30px;
 border: none;
 margin-inline: 15px;
 background-color: rgb(52, 52, 52);
 color: white;
 cursor: pointer;
 font-size: large;
}

.btn_forth2:hover{
  background-color: rgb(100, 100, 100);
  transition: 0.5s;
}
.btn_forth:hover{
  background-color: rgb(31, 189, 123);
  transition: 0.5s;
}

.flex_forth_res{
  display: flex;
}


@media screen and (max-width: 725px) {

  .flex_forth_res{
    display: block;
  }
  .forthbox_1{
    width: 90%;
  }
  
  .forthbox_2{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    height: 40%;
  }

.box_forth{
  height: 600px;
}


}


@media screen and (max-width: 400px) {

  .flex_forth_res{
    display: block;
  }
  .forthbox_1{
    width: 90%;
  }
  
  .forthbox_2{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    height: 40%;
  }

.box_forth{
  height: 750px;
}

}

@media screen and (max-width: 320px) {

  .flex_forth_res{
    display: block;
  }
  .forthbox_1{
    width: 90%;
  }
  
  .forthbox_2{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    height: auto;
    padding-bottom: 5%;
  }

.box_forth{
  height: auto;
  padding-bottom: 10%;
}

}

  
@media screen and (max-width: 260px) {
.btn_forth2{
  width: 80px;
}
.btn_forth{
width: 70px;
}


}
